.search-filter-container {
  padding: 20px;
}

.section-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.search-filter-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-container {
  flex: 1;
  max-width: 45%;
}

.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filter-container {
  flex: 1;
  max-width: 45%;
  text-align: right;
}

.filter-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.filter-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.table-container {
  height: 100vh; /* Set the height of the container to 100vh */
  display: flex;
  flex-direction: column;
}

p-table {
  flex: 1; /* Make the table take up the remaining space */
  overflow-y: auto; /* Add a scrollbar if the content exceeds the height */
}
