<div class="search-filter-container">
  <h2 class="section-title">Workout List</h2>
  <div class="search-filter-content">
    <div class="search-container">
      <label for="username" class="filter-label">Seach By User Name</label>
      <input
        id="query"
        [(ngModel)]="query"
        placeholder="Search by name"
        (ngModelChange)="updateFilteredUsers()"
        class="search-input"
      />
    </div>
    <div class="filter-container">
      <label for="workoutType" class="filter-label"
        >Filter by workout type</label
      >
      <select
        name="workoutType"
        [(ngModel)]="filter"
        (ngModelChange)="updateFilteredUsers()"
        class="filter-select"
      >
        <option value="">All</option>
        <option value="Running">Running</option>
        <option value="Swimming">Swimming</option>
        <option value="Cycling">Cycling</option>
        <option value="Yoga">Yoga</option>
      </select>
    </div>
  </div>
</div>

<p-table
  [value]="filteredUsers"
  [tableStyle]="{ 'min-width': '100%' }"
  [paginator]="true"
  [rows]="5"
  [rowsPerPageOptions]="[5, 10, 20, 50]"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Workouts</th>
      <th>No. of Workouts</th>
      <th>Total Workout Minutes</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr>
      <td align="center">{{ user.name }}</td>
      <td align="center">{{ getAllWorkouts(user.workouts) }}</td>
      <td align="center">{{ user.workouts.length }}</td>
      <td align="center">{{ getTotalWorkoutMinutes(user.workouts) }}</td>
    </tr>
  </ng-template>
</p-table>
